* {
	box-sizing: border-box;
}
body {
	color: #E5F9ED;
	background-color: #212C38;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding: 40px;
}

div {
	background-color: #E5F9ED;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	color: #212C38;
	padding: 40px 30px;
	margin: auto;
}

h1 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 1.2;
}

div span {
	font-weight: 600;
	display: block;
	font-size: 95px;
}

a {
	color: #E5F9ED;
}